# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
.nuxt/
.output/
.nitro/
.cache/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Coverage
coverage/
*.lcov

# Misc
*.tsbuildinfo
.eslintcache
